<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <h3>Пожалуйста, авторизуйтесь</h3>
            <form id="signin" method="POST" th:action="@{/login}" autocomplete="off">
                <input type="text" id="username" name="username" placeholder="пользователь"/>
                <input type="password" id="password" name="password" placeholder="пароль"/>
                <button type="submit">&#xf0da;</button>
            </form>
        </div>
    </body>
</html>
